body {
  overflow-x: hidden;
}
.hovereffect {
  width: 100%;
  height: 100%;
  margin: 5px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(460px, -100px) rotate(180deg);
  -ms-transform: translate(460px, -100px) rotate(180deg);
  transform: translate(460px, -100px) rotate(180deg);
  -webkit-transition: all 0.2s 0.4s ease-in-out;
  transition: all 0.2s 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.6);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  padding-bottom: 10px;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
  background: #42DCA3;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.hovereffect {
  height:400px;
  width: 32%;
  height: auto;
}
.img-responsive {
  width: auto;
}

.projects-section {
  margin-top: -10%;
  }

.info{
  margin-bottom: -20px;
  width: 10%;
}

.download-resume {
  margin-bottom: 20px;
}

.work-links {
  background-color: #282828;
  height: auto;
  width: 110%;
  margin: 2.4% 0 0 0;
  padding: 3% 3% 3% 8%;
}

.project-link {
  z-index: 2;
  margin: 0 0 0 20%;
  background-color: #333333;
  box-sizing: border-box;
  color: #008aff;
  float: left;
  display: block;
  font-family: Lato;
  font-size: 1.5vw;
  font-variant-caps: small-caps;
  margin: 3px;
  overflow: hidden;
  padding: 1%;
  position: relative;
  width: 30%;
  webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  text-decoration: none;
}
.project-link:hover {
  text-decoration: none;
  background-color: #222222;
  border-right: 6px solid #BABABA;
  color: #42DCA3;
}
.active {
  text-decoration: none;
  background-color: #222222;
  border-right: 6px solid #BABABA;
  color: #42DCA3;
}
span {
  color: #BABABA;
  font-size: 1vw;
  font-variant-caps:normal;
  letter-spacing: 2px;
}
.project-link:visited {
  color: #42DCA3;
}
.diagonal {
  z-index: -1;
  overflow-x: hidden;
  position: absolute;
  width: 110%;
  height: 600px;
  margin: -20px 0 0 -7%;
  background-color: #282828;
  -webkit-transform: rotate(5deg);
}
.diagonal-bottom {
  z-index: -1;
  position:absolute;
  margin-top: -70%;
}

.projects-title {
  margin: -5% 0 2% 0;
  color: white;
  font-size: 5vw;
  font-weight: bold;
  font-variant-caps:small-caps;;
}

.project-description {
  padding: 5% 0 0 0;
  width: 80%;
  margin-left: 6%;
}

.projects-header {
  padding: 2% 0 2% 0;
  color: #faebd7;
  font-size: 3vw;
  font-weight: bold;
  font-variant-caps:small-caps;;
}

.project-description p {
  padding: 0 2% 0 10%;
  color: #727272;
}

.img-responsive-project {
  width: 100%;
  border: 10px solid #3A3A3A;
}

.center {
  text-align: center;
}

.intramural-box {
  display: none;
}

.myta-box {
  display: none;
}
#projects {
}

.heroku-github {
  text-align: center;
  padding: 2% 10% 2% 10%;
}

@media (max-width: 1199px) {
  .diagonal-bottom {
    color: red;
  }
}
